body{
	background-color: #333;
}

.container{
	width: 500px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -250px  ;
}

.partBody{
	position: absolute;
	width: 19px;
	height: 19px;
 	background-color: red;
}

.food{
	position: absolute;
	background-color: #000;
	width: 19px;
	height: 19px;
}

.abcd{
      width: 200px;
      height: 100px;
      background-color: red;
      color: black;
      text-align: center;
      line-height: 100px;
    }